<nav style="margin:auto" class="navbar navbar-expand-lg bg-dark">
        
    <a style="color: white;" class="navbar-brand" href="#">APOLLO HOSPITALS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
            <a style="color: white;"class="nav-link active" aria-current="page" href="javascript:void(0);" routerLink="/docdash">Back</a>
        
          </ul>
      
    </div>
  
  </nav>
<hr>
<hr>
<hr>
<div class="container">
    <h3>Patient Details</h3>
<div>

<h5 class="mt-3">Patient Information</h5>
<div>
    <label> <b> Name: </b></label> {{patient?.patientInfo?.firstName}} {{patient?.patientInfo?.lastName}}
</div>
<div>
    <label> <b> Date of Birth: </b></label> {{patient?.patientInfo?.dateOfBirth}}
</div>
<div>
    <label> <b> Gender: </b></label> {{patient?.patientInfo?.gender}}
</div>
<div>
    <label> <b> Contact: </b></label> {{patient?.patientInfo?.contactNumber}}
</div>
<div>
    <label> <b> Email: </b></label> {{patient?.patientInfo?.email}}
</div>

<h6 class="mt-2">Address</h6>
<div>
    <label> <b> Street: </b></label> {{patient?.patientInfo?.address?.street1}}
</div>
<div>
    <label> <b> Apt: </b></label> {{patient?.patientInfo?.address?.apt}}
</div>
<div>
    <label> <b> City: </b></label> {{patient?.patientInfo?.address?.city}}
</div>
<div>
    <label> <b> County: </b></label> {{patient?.patientInfo?.address?.county}}
</div>
<div>
    <label> <b> State: </b></label> {{patient?.patientInfo?.address?.state}}
</div>
<div>
    <label> <b> Zip: </b></label> {{patient?.patientInfo?.address?.zip}}
</div>

<h6 class="mt-2">Alternative Contact</h6>
<div>
    <label> <b> Name: </b></label> {{patient?.patientInfo?.alternativeContact?.altContactName}}
</div>
<div>
    <label> <b> Relationship: </b></label> {{patient?.patientInfo?.alternativeContact?.relationship}}
</div>
<div>
    <label> <b> Contact: </b></label> {{patient?.patientInfo?.alternativeContact?.altContactNumber}}
</div>
<div>
    <label> <b> Email: </b></label> {{patient?.patientInfo?.alternativeContact?.altContactEmail}}
</div>

<h5 class="mt-3">Medical History</h5>
<div>
    <label> <b> Allergies: </b></label> {{patient?.medicalHistory?.allergies}}
</div>
<div>
    <label> <b> Current Medications: </b></label> {{patient?.medicalHistory?.currentMedications}}
</div>
<div>
    <label> <b> Drug Specific History: </b></label> {{patient?.medicalHistory?.drugSpecificHistory}}
</div>

<h5 class="mt-3">Insurance Details</h5>
<div>
    <label> <b> Provider: </b></label> {{patient?.insuranceDetails?.provider}}
</div>
<div>
    <label> <b> Policy Number: </b></label> {{patient?.insuranceDetails?.policyNumber}}
</div>
<div>
    <label> <b> Coverage Details: </b></label> {{patient?.insuranceDetails?.coverageDetails}}
</div>

<h5 class="mt-3">Physician</h5>
<div>
    <label> <b> Physician Name: </b></label> {{patient?.physician?.name}}
</div>
<div>
    <label> <b> Contact: </b></label> {{patient?.physician?.contactNumber}}
</div>
<div>
    <label> <b> Email: </b></label> {{patient?.physician?.email}}
</div>

<h5 class="mt-3">Consent</h5>
<div>
    <label> <b> Patient Consent: </b></label> {{patient?.consentForTreatment?.[0]?.consentGiven ? 'Yes' : 'No'}}
</div>
<div>
    <label> <b> Date of Consent: </b></label> {{patient?.consentForTreatment?.[0]?.dateOfConsent}}
</div>
<div>
    <label> <b> Physician Consent: </b></label> {{patient?.consentForTreatment?.[1]?.consentGiven ? 'Yes' : 'No'}}
</div>
<div>
    <label> <b> Physician Date of Consent: </b></label> {{patient?.consentForTreatment?.[1]?.dateOfConsent}}
</div>

</div>
</div>